*.iml
.gradle
/local.properties
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/debug/
app/libs/
app/release/
app/src/test/
code-signing/
mybugsourcelib/libs/
mybugsourcelib/src/main/res/drawable/
